---
- name: Create test server
  shell: |
    lxc-attach -n "{{ utility_container.stdout }}" \
    -- bash -c '. /root/openrc ; \
    openstack server create \
    -f json \
    --image "{{ image.name }}" \
    --flavor "{{ flavor.name }}" \
    --nic net-id="{{ test_network }}" \
    --key-name "rpc_support" \
    "{{ test_server }}"'
