---
- name: Create test server
  os_server:
    cloud: default
    state: present
    name: "{{ test_server }}"
    image: "{{ image.name }}"
    flavor: "{{ flavor.name }}"
    network: "{{ test_network }}"
    key_name: rpc_support
    security_groups: rpc-support
    auto_ip: false
    timeout: 600
  delegate_to: localhost
